* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    width: 700px;
    height: 700px;
    background-color: rgb(250, 7, 28);
    margin: 0 auto;

}

.block_1, .block_2 {
    display: flex;
    justify-content: space-between;
    width: 700px;
    height: 350px;
    padding-left: 15px;
    padding-right: 15px;
}

.block_1 {
    padding-top: 15px;
}

.block_2 {
    align-items: flex-end;
    padding-bottom: 15px;
}

.yellow {
    width: 90px;
    height: 90px;
    background-color: rgb(250, 242, 7);
}

.blue {
    width: 250px;
    height: 250px;
    background-color: rgb(20, 7, 250);
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.two {
    opacity: 0;

}

.green {
    width: 40px;
    height: 40px;
    background-color: rgb(20, 163, 22);
}

.green_2 {
    align-self: flex-end;
}